# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/.idea
/.ijwb
bazel-bin
bazel-out
bazel-testlogs
bazel-ner-viewer
node_modules

# We have yarn.lock commited instead
package-lock.json