@import "entities";

.article {
  display: grid;
  grid-template-columns: 70% auto;
  grid-column-gap: 1rem;
  margin: 2rem;
}

.article-block {
  display: grid;
  grid-template-rows: max-content max-content auto;
}

.article-pmid {
  justify-self: center;
}

.article-title {
  justify-self: center;
  text-align: center;
}

.article-legend {
  & ul {
    list-style: none;
  }

  &-show-unknown {
    margin-bottom: 1rem;
  }

  &-group-label {
    cursor: pointer;
    & .fa-caret-right {
      transition: transform 0.2s ease-out;
    }

    &-open .fa-caret-right {
      transform: rotate(90deg);
    }

    &-genes {
      color: $gene-text;
    }
    &-diseases {
      color: $disease-text;
    }
    &-chemicals {
      color: $chemical-text;
    }
  }
}

.entity-link {
  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  &, &:visited {
    color: black;
  }
}