$common-bg-sat: 60%;
$common-bg-lig: 60%;
$common-bg-alpha: 0.5%;

$gene-hue: 285;
$chemical-hue: 109;
$disease-hue: 50;

@function entity_bg_color($base) {
    @return hsla($base, $common-bg-sat, $common-bg-lig, $common-bg-alpha);
}

$gene-color: entity_bg_color($gene-hue);
$chemical-color: entity_bg_color($chemical-hue);
$disease-color: entity_bg_color($disease-hue);

@function mixed_color($from, $to) {
    @return linear-gradient(90deg, $from 0 30%, $to 70% 100%);
}

span[class*="entity-"] {
    -webkit-text-fill-color: rgba(0, 0, 0, 0.7);

    // TODO: had to solve first the way to show partial conflicts, otherwise it leads to big gaps between conflicting parts
    //border-radius: 0.5rem;
    //padding-inline-start: 0.3rem;
    //padding-inline-end: 0.3rem;
    //padding-top: 0.1rem;
    //padding-bottom: 0.1rem;
}

.entity-gene {
    background-color: $gene-color;
}

.entity-chemical {
    background-color: $chemical-color;
}

.entity-disease {
    background-color: $disease-color;
}

.entity-gene-chemical {
    background: mixed_color($gene-color, $chemical-color);
}

.entity-chemical-gene {
    background: mixed_color($chemical-color, $gene-color);
}

.entity-gene-disease {
    background: mixed_color($gene-color, $disease-color);
}

.entity-disease-gene {
    background: mixed_color($disease-color, $gene-color);
}

.entity-chemical-disease {
    background: mixed_color($chemical-color, $disease-color);
}

.entity-disease-chemical {
    background: mixed_color($disease-color, $chemical-color);
}