$common-bg-sat: 60%;
$common-bg-lig: 60%;
$common-bg-alpha: 0.5%;

$common-fg-sat: 50%;
$common-fg-lig: 50%;

$gene-hue: 285;
$chemical-hue: 109;
$disease-hue: 50;
$taxon-hue: 225;

@function entity_bg_color($base) {
    @return hsla($base, $common-bg-sat, $common-bg-lig, $common-bg-alpha);
}

@function entity_text_color($base) {
    @return hsl($base, $common-fg-sat, $common-fg-lig);
}

$gene-color: entity_bg_color($gene-hue);
$gene-text: entity_text_color($gene-hue);
$chemical-color: entity_bg_color($chemical-hue);
$chemical-text: entity_text_color($chemical-hue);
$disease-color: entity_bg_color($disease-hue);
$disease-text: entity_text_color($disease-hue);
$taxon-color: entity_bg_color($taxon-hue);
$taxon-text: entity_text_color($taxon-hue);

@function mixed_color($from, $to) {
    @return linear-gradient(90deg, $from 0 30%, $to 70% 100%);
}

.entity-gene {
    background-color: $gene-color;
}

.entity-gene-text {
    color: $gene-text;
}

.entity-chemical {
    background-color: $chemical-color;
}

.entity-chemical-text {
    color: $chemical-text;
}

.entity-disease {
    background-color: $disease-color;
}

.entity-disease-text {
    color: $disease-text;
}

.entity-taxon {
    background-color: $taxon-color;
}

.entity-taxon-text {
    color: $taxon-text;
}

.entity-gene-chemical {
    background: mixed_color($gene-color, $chemical-color);
}

.entity-chemical-gene {
    background: mixed_color($chemical-color, $gene-color);
}

.entity-gene-disease {
    background: mixed_color($gene-color, $disease-color);
}

.entity-disease-gene {
    background: mixed_color($disease-color, $gene-color);
}

.entity-chemical-disease {
    background: mixed_color($chemical-color, $disease-color);
}

.entity-disease-chemical {
    background: mixed_color($disease-color, $chemical-color);
}

.entity-gene-taxon {
    background: mixed_color($gene-color, $taxon-color);
}

.entity-taxon-gene {
    background: mixed_color($taxon-color, $gene-color);
}

.entity-chemical-taxon {
    background: mixed_color($chemical-color, $taxon-color);
}

.entity-taxon-chemical {
    background: mixed_color($taxon-color, $chemical-color);
}

.entity-disease-taxon {
    background: mixed_color($disease-color, $taxon-color);
}

.entity-taxon-disease {
    background: mixed_color($taxon-color, $disease-color);
}