.pmid-form {
  display: grid;
  justify-items: center;
  margin-bottom: 2rem;
  grid-template-areas: "label label" "input buttons" "error error";
  grid-column-gap: 1rem;

  &[class*="pmid-"] {
    font-size: 1.3rem;
  }
}

.pmid-label {
  grid-area: label;
}

.pmid-input {
  text-align: center;
  grid-area: input;
  justify-self: end;
}

.pmid-buttons {
  grid-area: buttons;
  justify-self: start;
}

.pmid-error {
  grid-area: error;
  margin-top: 1rem;
}